<h1>English study Dashboard</h1>

<% init %>

<%= @dp.all_try_index_table %>
<%= @dp.achievement_index_table %>
<%= @dp.top_x_good_score_sentences_table(5) %>
<%= @dp.top_x_worst_score_sentences_table(5) %>

